.container
  %h2
    - if task.id.present?
      タスクNo. #{task.id}
    - else
      New Task

  = form_with(model: task, url: tasks_path, method: 'post', local: true, data: { turbo: false } ) do |f|
    .field
      = f.label :eyecatch, class: 'label'
      = f.file_field :eyecatch
    .field
      = f.label :title, class: 'label'
      = f.text_field :title, class: 'text_field'
    .field
      = f.label :description, class: 'label'
      = f.text_area :description, class: 'text_area'
    .field
      = f.label :delivery, class: 'label'
      = f.date_field :delivery, class: 'text'
    .actions
      = f.submit "Submit" ,class: 'submit_btn'
