= link_to board_path(id: board.id) do
  .card
    .board_header
      .board_number ボードNo: #{board.id}
      = link_to image_tag('edit.png'), edit_board_path(board), class: 'edit_board'
    .board_title= board.title
    .board_desc= board.description
    .board_avatar= image_tag board.user.avatar_image
