!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Todo App"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header.header
      .header_logos
        - if user_signed_in?
          .dropdown
            = image_tag 'default-user.svg', class: 'dropdown_toggle'
            .dropdown_contents
              = link_to 'プロフィール', profile_path
              = link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }
        - else
          = link_to 'ログイン', new_user_session_path, class: 'login_button'
    - if flash.present?
      .flash
        - flash.each do |key,value|
          %div{:class => key}= value
    = yield
